<a href="https://colab.research.google.com/github/ajayjakkampudi/Sentiment-Analysis/blob/master/Tweets_Preproccessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
datasetPath='/content/drive/MyDrive/Projects/twitter dataset/twitter data.csv'

In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv(datasetPath, encoding='latin-1')
dataset.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [ ]:
dataset.shape

(1599999, 6)

### Changing the columns

In [ ]:
columns=dataset.columns
dict={}
new_columns=['target','ids','date','flag','user','text']
for i in range(6):
  dict[columns[i]]=new_columns[i]

dict

{'0': 'target',
 '1467810369': 'ids',
 "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D": 'text',
 'Mon Apr 06 22:19:45 PDT 2009': 'date',
 'NO_QUERY': 'flag',
 '_TheSpecialOne_': 'user'}

In [ ]:
dataset=dataset.rename(dict,axis=1)
dataset.columns

Index(['target', 'ids', 'date', 'flag', 'user', 'text'], dtype='object')

In [ ]:
dataset.head()

,target,ids,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [ ]:
dict1={}
for i in range(6):
  dict1[new_columns[i]]=columns[i]

dict1

{'date': 'Mon Apr 06 22:19:45 PDT 2009',
 'flag': 'NO_QUERY',
 'ids': '1467810369',
 'target': '0',
 'text': "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D",
 'user': '_TheSpecialOne_'}

In [ ]:
dataset=dataset.append(dict1,ignore_index=True)
dataset.shape

(1600000, 6)

In [ ]:
dataset.tail()

,target,ids,date,flag,user,text
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...
1599999,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."

In [ ]:
dataset.drop(['ids','date','flag','user'],axis=1,inplace=True)

In [ ]:
dataset.head()

  target                                               text
0      0  is upset that he can't update his Facebook by ...
1      0  @Kenichan I dived many times for the ball. Man...
2      0    my whole body feels itchy and like its on fire
3      0  @nationwideclass no, it's not behaving at all....
4      0                      @Kwesidei not the whole crew

### Removing the Links in the tweets

In [ ]:
# knowing wheather they are links or not
import re
# j=0
# for i in range(dataset.shape[0]):
#   list=re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',dataset.text[i])
#   if list:
#     j=j+1
#     print(list,'-',str(i))

# print("Tweets having links =",j)

In [ ]:
urls = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',dataset.text[1599778] )

print("Original string: ")
print("Urls: ",urls)

Original string:
Urls:  ['http://twitpic.com/7josl', 'http://tr.im/oFYO']

In [ ]:
# Removing urls from tweets 

dataset['text']=dataset['text'].apply(lambda x: re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+','',x))

dataset.tail()

        target                                               text
1599995      4  TheWDB.com - Very cool to hear old Walt interv...
1599996      4  Are you ready for your MoJo Makeover? Ask me f...
1599997      4  Happy 38th Birthday to my boo of alll time!!! ...
1599998      4  happy #charitytuesday @theNSPCC @SparksCharity...
1599999      0  @switchfoot  - Awww, that's a bummer.  You sho...

### Finding UserNames and hashtags

In [ ]:
dataset['@ tags']=dataset['text'].apply(lambda x: len(re.findall("@[A-Za-z]+",x)))
dataset['# tags']=dataset['text'].apply(lambda x: len(re.findall("#[A-Za-z]+",x)))
dataset.head()

  target                                               text  @ tags  # tags
0      0  is upset that he can't update his Facebook by ...       0       0
1      0  @Kenichan I dived many times for the ball. Man...       1       0
2      0    my whole body feels itchy and like its on fire        0       0
3      0  @nationwideclass no, it's not behaving at all....       1       0
4      0                      @Kwesidei not the whole crew        1       0

In [ ]:
dataset.text[1599998]

'happy #charitytuesday @theNSPCC @SparksCharity @SpeakingUpH4H '

### Removing usernames

In [ ]:
dataset['text']=dataset['text'].apply(lambda x: re.sub('@[a-zA-Z]+','',x))

dataset.head()

  target                                               text  @ tags  # tags
0      0  is upset that he can't update his Facebook by ...       0       0
1      0   I dived many times for the ball. Managed to s...       1       0
2      0    my whole body feels itchy and like its on fire        0       0
3      0   no, it's not behaving at all. i'm mad. why am...       1       0
4      0                                not the whole crew        1       0

### Sorting by hashtags

In [ ]:
dataset.sort_values(by='# tags',ascending=False).head(50)

,target,text,@ tags,# tags
715829,0,#BTS is fallin!! #BTS #BTS #BTS #BTS #BTS #B...,0,24
1354706,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1362988,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1420746,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
229000,0,#ONTD is making me tired #ONTD #ONTD #ONTD #...,0,15
965596,4,get them back on trending topics: #mcfly #mcfl...,0,15
1362441,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1362136,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1363223,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1362602,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1416483,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1361017,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1361003,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1361175,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
361994,0,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1362645,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1365159,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1362338,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1365235,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1347465,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
1360932,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,15
368533,0,mimimimi #seb-day #seb-day #seb-day #seb-day ...,0,14
1363540,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,14
1363485,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,14
1357122,4,#seb-day #seb-day #seb-day #seb-day #seb-day ...,0,14
1364946,4,#seb-day #seb-day #seb-day #seb-day #seb-day ...,0,14
1363632,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,14
1350994,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,14
1363605,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,14
1363402,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,14
1363451,4,#seb-day #seb-day #seb-day #seb-day #seb-day #...,0,14
356823,0,ainda nao #seb-day #seb-day #seb-day #seb-da...,1,12
1361072,4,"HEY, please help us on #seb-day #seb-day #seb-...",0,12
712591,0,oh no i dont like camilla #bts #bts #bts #bt...,0,12
540172,0,#IMISSCATH #IMISSCATH #IMISSCATH #IMISSCATH #...,0,12
540158,0,#IMISSCATH #IMISSCATH #IMISSCATH #IMISSCATH #...,0,12
966332,4,excited that this weeks only 4 days of school!...,0,12
226893,0,Watching old episodes of &quot;The Sopranos&qu...,0,12
947481,4,#delongeday #delongeday #delongeday #delongeda...,0,11
970437,4,#delongeday #delongeday #delongeday #delongeda...,0,11
1178101,4,#chesterday #chesterday #chesterday #chesterda...,0,11
947702,4,#delongeday #delongeday #delongeday #delongeda...,0,11
947621,4,#delongeday #delongeday #delongeday #delongeda...,0,11
947606,4,#delongeday #delongeday #delongeday #delongeda...,0,11
1031998,4,THAT Made me laugh #twitter #goal #hashtag...,1,11
1573462,4,Guys!!! #BSB hahahah ou yes! im do not stop ...,1,11
955692,4,#Hollywelch #Hollywelch #Hollywelch #Hollywelc...,0,11
947584,4,#delongeday #delongeday #delongeday #delongeda...,0,11
960272,4,#shortstack #tokiohotel #shortstack #tokiohot...,0,11
947942,4,#delongeday #delongeday #delongeday #delongeda...,0,10

In [ ]:
dataset.target.value_counts()

4    800000
0    799999
0         1
Name: target, dtype: int64

In [ ]:
dataset.isnull().sum()

target    0
text      0
@ tags    0
# tags    0
dtype: int64

### **No null Value**
### **It is a Balanced dataset**

### Downloading stopwords

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
stop_words=stopwords.words('english')
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

### Word Counts

In [ ]:
dataset['word_counts']=dataset['text'].apply(lambda x:len(x.split()))
dataset.head()

,target,text,@ tags,# tags,word_counts
0,0,is upset that he can't update his Facebook by ...,0,0,21
1,0,I dived many times for the ball. Managed to s...,1,0,17
2,0,my whole body feels itchy and like its on fire,0,0,10
3,0,"no, it's not behaving at all. i'm mad. why am...",1,0,20
4,0,not the whole crew,1,0,4

In [ ]:
# copying dataset to df
df=dataset
df.head()

,target,text,@ tags,# tags,word_counts
0,0,is upset that he can't update his Facebook by ...,0,0,21
1,0,I dived many times for the ball. Managed to s...,1,0,17
2,0,my whole body feels itchy and like its on fire,0,0,10
3,0,"no, it's not behaving at all. i'm mad. why am...",1,0,20
4,0,not the whole crew,1,0,4

### Stop words counts

In [ ]:
df['stop_words_count']=df['text'].apply(lambda x:len([w for w in x.split() if w in stop_words]))
df.head()

,target,text,@ tags,# tags,word_counts,stop_words_count
0,0,is upset that he can't update his Facebook by ...,0,0,21,8
1,0,I dived many times for the ball. Managed to s...,1,0,17,5
2,0,my whole body feels itchy and like its on fire,0,0,10,4
3,0,"no, it's not behaving at all. i'm mad. why am...",1,0,20,10
4,0,not the whole crew,1,0,4,2

In [ ]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

### Removing words from stop_words

In [ ]:
removing_words=['aren','no','nor','not','ain',
 "aren't",'don',"don't"
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]
for i in range(0,len(removing_words)):
       if removing_words[i] in stop_words:
           stop_words.remove(removing_words[i])

In [ ]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'couldn']

In [ ]:
df['text']=df['text'].apply(lambda x: re.sub("[^#a-zA-Z']+",' ',x))
df['text']=df['text'].apply(lambda x: x.lower())
df.head()

,target,text,@ tags,# tags,word_counts,stop_words_count
0,0,is upset that he can't update his facebook by ...,0,0,21,8
1,0,i dived many times for the ball managed to sa...,1,0,17,5
2,0,my whole body feels itchy and like its on fire,0,0,10,4
3,0,no it's not behaving at all i'm mad why am i ...,1,0,20,10
4,0,not the whole crew,1,0,4,2

In [ ]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
from nltk.stem import WordNetLemmatizer
df['text']=df['text'].apply(lambda x: ' '.join([WordNetLemmatizer().lemmatize(word) for word in x.split() if word not in stop_words]))
df.head()

,target,text,@ tags,# tags,word_counts,stop_words_count
0,0,upset can't update facebook texting might cry ...,0,0,21,8
1,0,dived many time ball managed save rest go bound,1,0,17,5
2,0,whole body feel itchy like fire,0,0,10,4
3,0,no not behaving i'm mad can't see,1,0,20,10
4,0,not whole crew,1,0,4,2

In [ ]:
df=df.drop(['@ tags','# tags','word_counts','stop_words_count'],axis=1)
df.head()

  target                                               text
0      0  upset can't update facebook texting might cry ...
1      0    dived many time ball managed save rest go bound
2      0                    whole body feel itchy like fire
3      0                  no not behaving i'm mad can't see
4      0                                     not whole crew

### Saving Model

In [ ]:
import os
import pickle
PATH='/content/drive/MyDrive/Projects/twitter dataset'
filename='preprocessed_model.pkl'
pickle.dump(df,open(os.path.join(PATH,filename),'wb'))